
.belmondBelliniLogo {
  width: 309px;
  height: auto;
  max-width: 99%;
}

.belmondLogo {
  width: 289;
  height: auto;
  max-width: 99%;
}

.diamondLogo {
  height: 100px;
  height: auto;
  max-width: 99%;
}

.fourSeasonsLogo {
  width: 333px;
  height: auto;
  max-width: 99%;
}

.hyattPriveLogo {
  width: 200px;
  height: auto;
  max-width: 99%;
}

.inTheKnowLogo {
  width: 300px;
  height: auto;
  max-width: 99%;
}

.jumeriahLogo {
  width: 247px;
  height: auto;
  max-width: 99%;
}

.mandarinLogo {
  width: 247px;
  height: auto;
  max-width: 90%;
}

.marriottStarsLogo {
  width: 288px;
  height: auto;
  max-width: 99%;
}

.oetkerCollectionLogo {
  width: 300px;
  height: auto;
  max-width: 99%;
}

.relaisLogo {
  width: 247px;
  height: auto;
  max-width: 90%;
}

.rosewoodLogo {
  width: 333px;
  height: auto;
  max-width: 99%;
}

.virtuosoLogo {
  width: 301px;
  height: auto;
  max-width: 99%;
}

.contextLogo {
  width: 271px;
  height: auto;
  max-width: 99%;
}
