
.belmondBelliniLogo {
  width: 309px;
  height: 152px;
}

.belmondLogo {
  width: 289;
  height: 124px;
}

.diamondLogo {
  height: 100px;
  width: 247px
  
}

.fourSeasonsLogo {
  width: 333px;
  height: 156px;
}

.hyattPriveLogo {
  width: auto;
  height: 155px;
}

.inTheKnowLogo {
  width: 300px;
  height: auto;
}

.jumeriahLogo {
  width: 247px;
  height: 91px;
}

.mandarinLogo {
  width: 247px;
  height: 185px;
}

.marriottStarsLogo {
  width: 288px;
  height: 179px;
}

.oetkerCollectionLogo {
  width: 300px;
  height: 163px;
}

.relaisLogo {
  width: 247px;
  height: 220px;
}

.rosewoodLogo {
  width: 333px;
  height: 79px;
}

.virtuosoLogo {
  width: 301px;
  height: 97px;
}

.contextLogo {
  width: 271px;
  height: 117px;
}
