/* .swiper {
  width: 300px;
  height: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -150px;
} */



.swiper-slide {
  background-position: center;
  background-size: cover;
}

/* .swiper-slide img {
  display: block;
  width: 100%;
} */

.swiper-cube-shadow {
  display: none;
}



/* begin media queries */
@media screen and (max-width: 400px) {
  .mySwiper {
    width: 280px !important;
    height: 280px !important;
  }
}

@media screen and (max-width: 350px) {
  .mySwiper {
    width: 240px !important;
    height: 240px !important;
  }
}

@media screen and (max-width: 300px) {
  .mySwiper {
    width: 200px !important;
    height: 200px !important;
  }

  .mySwiper p {
    font-size: 10px !important;
  }
}