
.belmondBelliniLogo {
  width: 80%;
  height: auto;
  /* max-width: 99%; */
}

.belmondLogo {
  width: 80%;
  height: auto;
  /* max-width: 99%; */
}

.diamondLogo {
  width: 80%;
  height: auto;
  /* max-width: 99%; */
}

.fourSeasonsLogo {
  width: 90%;
  height: auto;
}

.hyattPriveLogo {
  width: 80%;
  height: auto;
  margin-top: 10px;
}

.inTheKnowLogo {
  width: 90%;
  height: auto;
}

.jumeriahLogo {
  width: 60%;
  height: auto;
  margin-top: 10px;
}

.mandarinLogo {
  width: 55%;
  height: auto;
  margin-top: 10px;
}

.marriottStarsLogo {
  width: 70%;
  height: auto;
  margin-top: 10px;
}

.oetkerCollectionLogo {
  width: 80%;
  height: auto;
  margin-top: 5px;
}

.relaisLogo {
  width: 50%;
  height: auto;
  margin-top: 10px;
}

.rosewoodLogo {
  width: 80%;
  height: auto;
  margin-top: 20px;
}

.virtuosoLogo {
  width: 80%;
  height: auto;
  margin-top: 10px;
}

.contextLogo {
  width: 60%;
  height: auto;
  margin-top: 10px;
}
